In [ ]:
print("Lavanya Jureddi")

Lavanya Jureddi

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
from google.colab import files


uploaded = files.upload()

Saving student_clustering.csv to student_clustering.csv

In [ ]:
import pandas as pd
import io
#Dataset CSV
df = pd.read_csv(io.BytesIO(uploaded['student_clustering.csv']))
print(df)

     cgpa   iq gender  salary
0    5.13   88      F       1
1    5.90  113      M       1
2    8.36   93      F       1
3    8.27   97      F      22
4    5.45  110      F      33
..    ...  ...    ...     ...
195  4.68   89    NaN     656
196  8.57  118    NaN   65645
197  5.85  112    NaN      56
198  6.23  108    NaN    5654
199  8.82  117    NaN    5645

[200 rows x 4 columns]

In [ ]:
#print the dimension of dataset
df.shape

(200, 4)

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['student_clustering.csv']))
#maximum for all value in a dataset
df.max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

cgpa           9.3
iq           121.0
salary    244242.0
dtype: float64

In [ ]:

#maximum for particular value in a dataset
print(df['cgpa'].max())

9.3

In [ ]:
#min for all value in a dataset
df.min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

cgpa       4.6
iq        83.0
salary     1.0
dtype: float64

In [ ]:

#min for particular value in a dataset
print(df['cgpa'].min())

4.6

In [ ]:

#mean for all value in a dataset
print(df.mean())

cgpa         6.9834
iq         101.9950
salary    4650.6350
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:

#mean for all particular value in a dataset
print(df['cgpa'].mean())

6.9834

In [ ]:

#median for all value in a dataset
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

cgpa        7.04
iq        102.00
salary    122.00
dtype: float64

In [ ]:

#median for particular value in a dataset
print(df['cgpa'].median())

7.04

In [ ]:

#mode for all value in a dataset
#This is the only central tendency measure that can be used with categorical variables, 
#unlike the mean and the median which can be used only with quantitative data.
df.mode()

   cgpa   iq gender  salary
0  8.91  117      M      56

In [ ]:

#median for all value in a dataset
print(df['iq'].mode())

0    117
dtype: int64

In [ ]:

#Standard deviation for all value in a dataset
df.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

cgpa          1.624101
iq           12.161599
salary    20137.364245
dtype: float64

In [ ]:

#Standard deviation for particular value in a dataset
print(df["cgpa"].std())

1.6241012791153517

In [ ]:

#Variance for all value in a dataset
df.var()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

cgpa      2.637705e+00
iq        1.479045e+02
salary    4.055134e+08
dtype: float64

In [ ]:

#Variance for particular value in a dataset
print(df["cgpa"].var())

2.6377049648241218

In [ ]:
#function that prints the summary statistic of the numerical variables
df.describe()

             cgpa          iq         salary
count  200.000000  200.000000     200.000000
mean     6.983400  101.995000    4650.635000
std      1.624101   12.161599   20137.364245
min      4.600000   83.000000       1.000000
25%      5.407500   91.000000      35.000000
50%      7.040000  102.000000     122.000000
75%      8.585000  113.000000     698.250000
max      9.300000  121.000000  244242.000000

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['student_clustering.csv']))
#Grouping and perform count over each group
df =  df.groupby('gender')['gender'].count()
print(df)

gender
F    76
M    80
Name: gender, dtype: int64

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['student_clustering.csv']))
#Grouping and perform sum over each group
df =  df.groupby('salary')['salary'].count()
print(df)

salary
1          3
2          1
3          5
4         10
5          2
          ..
54645      1
56578      1
65645      1
65767      1
244242     1
Name: salary, Length: 112, dtype: int64